<link rel="stylesheet" href="../../assets/font/iconfont.css">
<main>

    <div class="container guide">

        <div class="el-top">
            <span class="iconfont  icon-suo">项目借款</span>


        </div>
        <ul class="guidelist">
            <li>
                <div class="men">
                    <h3> 综合费率低</h3>
                    <p>

                        为企业白领、工薪族、企业经营者分别提供专属的借款信息咨询服务。向您介绍的产品月综合费率低至1.08%起，大大减轻您的还款压力。

                    </p>
                </div>

                <img src="../../dist/image/item2.png" class="img-responsive">

            </li>
            <li>
                    <div class="men">
                            <h3> 综合费率低</h3>
                            <p>
        
                                为企业白领、工薪族、企业经营者分别提供专属的借款信息咨询服务。向您介绍的产品月综合费率低至1.08%起，大大减轻您的还款压力。
        
                            </p>
                        </div>
                <img src="../../dist/image/item2.png" class="img-responsive">
            </li>
            <li>
                    <div class="men">
                            <h3> 综合费率低</h3>
                            <p>
        
                                为企业白领、工薪族、企业经营者分别提供专属的借款信息咨询服务。向您介绍的产品月综合费率低至1.08%起，大大减轻您的还款压力。
        
                            </p>
                        </div>
                <img src="../../dist/image/item3.png" class="img-responsive">
            </li>
            <li>
                    <div class="men">
                            <h3> 综合费率低</h3>
                            <p>
        
                                为企业白领、工薪族、企业经营者分别提供专属的借款信息咨询服务。向您介绍的产品月综合费率低至1.08%起，大大减轻您的还款压力。
        
                            </p>
                        </div>
                <img src="../../dist/image/item4.png" class="img-responsive">
            </li>
            <li>
                    <div class="men">
                            <h3> 综合费率低</h3>
                            <p>
        
                                为企业白领、工薪族、企业经营者分别提供专属的借款信息咨询服务。向您介绍的产品月综合费率低至1.08%起，大大减轻您的还款压力。
        
                            </p>
                        </div>
                <img src="../../dist/image/item5.png" class="img-responsive">
            </li>


        </ul>

    </div>
 <img src="../../dist/image/title.png" class="img-responsive">
</main>
