<link rel="stylesheet" href="/dist/css/index.min.css">
       <div class="personal">
        <div class="panel panel-default">
          <div class="panel-body el-account">
            <div class="el-account-info">
              <div class="pull-left el-head-img">
                <img class="icon" src="/dist/image/head_icon.jpg" />
              </div>
              <div class="pull-left el-head">
                <p>昵&emsp;称：<span id="personal_nickname">--</span></p>
                <p>用户名：<span id="personal_username">--</span></p>
                <p>最后登录时间：<span id="personal_lastlogintime">--</span></p>
              </div>
              <div class="clearfix"></div>
            </div>
            
            <div style="margin: 10px 2px;" class="row h4">
              <div class="col-sm-4">
                总金额：<span style="color: #F7775F;" id="personal_totalmoney">0</span>元
              </div>
              <div class="col-sm-4">
                可用金额：<span  style="color: #F7775F;" id="personal_usablemoney">0</span>元
              </div>
              <div class="col-sm-4">
                冻结金额：<span  style="color: #F7775F;" id="personal_blockedmoney">0</span>元
              </div>
            </div>
            
            <div style="text-align: center;width: 400px;margin:30px auto 0px auto;">
              <a class="btn btn-primary btn-lg" href="#/recharge">账户充值</a>
              <a class="btn btn-danger btn-lg" href="#/moneyWithdraw_apply">账户提现</a>
            </div>
            
            <div class="el-account-info">
              <div class="row">
                <div class="col-sm-4">
                  <div class="el-accoun-auth">
                    <div class="el-accoun-auth-left">
                      <img src="/dist/image/shiming.png" />
                    </div>
                    <div class="el-accoun-auth-right">
                      <h5>实名认证</h5>
                      <p>
                          未认证
                          <a href="#">马上认证</a>

                      </p>
                    </div>
                    <div class="clearfix"></div>
                    <p class="info">实名认证之后才能在平台投资</p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="el-accoun-auth">
                    <div class="el-accoun-auth-left">
                      <img src="/dist/image/shouji.jpg" />
                    </div>
                    <div class="el-accoun-auth-right">
                      <h5>手机认证</h5>
                      <p>
                        已认证
                        <a href="#">查看</a>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                    <p class="info">可以收到系统操作信息,并增加使用安全性</p>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="el-accoun-auth">
                    <div class="el-accoun-auth-left">
                      <img src="/dist/image/youxiang.jpg" />
                    </div>
                    <div class="el-accoun-auth-right">
                      <h5>邮箱认证</h5>
                      <p>
                        已认证
                        <a href="#">查看</a>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                    <p class="info">您可以设置邮箱来接收重要信息</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="el-accoun-auth">
                    <div class="el-accoun-auth-left">
                      <img src="/dist/image/baozhan.jpg" />
                    </div>
                    <div class="el-accoun-auth-right">
                      <h5>VIP会员</h5>
                      <p>
                        普通用户
                        <a href="#">查看</a>
                      </p>
                    </div>
                    <div class="clearfix"></div>
                    <p class="info">VIP会员，让你更快捷的投资</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>      
      </div>
<script src="/src/personal.js"></script>     